@charset "UTF-8";

/*box par1*/
#part1.box{
	background-image:url(../img/p1_back.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#part1.box .upper img{
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin:auto;
}
/*box par2*/
#part2.box{
	background-image:url(../img/D4B_6267.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#part2.box .upper img{
	position:absolute;
	top:-120px;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
/*box par3*/
#part3.box{
	background-image:url(../img/p3_back_03.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#part3.box .upper img{
	position:absolute;
	top:-120px;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
/*ad*/
#ad.box{
	position:relative;
	background-image:url(../img/ad1_back_02.png);
	background-position:40% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	height:800px;
}
#ad.box .upper{
	width:100%;
}
#ad.box .lower{
	background-color:#fff;
	position:absolute;
	bottom:0;
	width:100%;
	height:200px;
}
#ad.box .lower p{
	font-size:17px;
	display:inline-block;
	text-align:center;
	width:100%;
	height:100%;
	padding:70px 0;
	margin:0 auto;
	line-height:1.5em;
}

/*ad2*/
#ad2.box{
	background-image:url(../img/10387002167.png);
	background-size:cover;
	position:relative;
	height:800px;
}
#ad2 .upper{
	padding:10px 0;
	margin:-10px 0;
	text-align:center;
}
#ad2 .upper p{
	font-size:20px;
	margin:50px 0;
}
#ad2 .upper ul{
	margin:0;
	padding:0;
}
#ad2 .upper ul li{
	display:inline-block;
	margin:0 10px;
}
#ad2 .upper ul li img{
	background-size:contain;
}
#ad2 h3{
	font-weight:normal;
	font-size:30px;
	margin:50px 0;
}
#ad2 .lower{
	background-color:#4d4d4d;
	position:absolute;
	bottom:0;
}
#ad2 .lower img{
	display:block;
	margin:20px auto ;
}

/*contact*/
#cp1{
	height:166px;
}

#contact.box{
	overflow:hidden;
	background-image:url(../img/10387002167.png);
	background-size:cover;
}
#contact.box #cp1{
	height:167px;
	background-color:#000;
	color:#fff;
	font-size:14px;
	text-align:center;
}
#contact.box #cp1 img{
	margin-top:30px;
}
#contact.box #cp2{
	overflow:hidden;
	margin:30px auto 0;
	width:820px;

}
#gaiyou{
	float:left;
}
#gaiyou p{
	font-size:18px;
}
#gaiyou table {
	border-collapse: collapse;
	border-spacing: 0;
}
#gaiyou tr th,#gaiyou tr td{
	border-top:solid 1px #000;
}
#gaiyou tr td{
	font-size:13px;
	letter-spacing:0.1em;
	line-height:1.7em;
	padding:15px 50px;
	width:400px;
}
#gaiyou tr th{
	font-size:14px;
	letter-spacing:0.2em;
	background-color:#fff;
}
#c_logo{
	float:right;
	margin:20px auto;
}
#c_logo ul{
}
#c_logo ul li{
	height:150px;
	list-style:none;
	text-align:center;
}
#contact.box #cp3{
	clear:both;
	width:80%;
	margin:30px auto;
}
/*地図*/
.axgmap{
	margin:50px auto;
}