@charset "UTF-8";
/* CSS Document */
body{
	position:relative;
	margin:0;
	min-width:1000px;
}
#wrapper{
	margin:0;
	background-color:#B0AEAE;
	position:relative;
}
*{
	font-family: Helvetica, Arial, 'ヒラギノ明朝 ProN W3','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;					/*スマートフォンの横向き時に文字が大きくなるのを防ぐ none指定は避ける*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);		/*iphoneで画像タップの反転消す*/
}
.box{
	width:100%;
}
#part1.box,#part2.box,#part3.box{
	height:800px;
	position:relative;
}
.upper{
	width:100%;
	font-size:34px;
	text-align:center;
	margin:0 auto;
}
.lower{
	width:100%;
	overflow:hidden;
	margin:0 auto;
}

#part1.box .lower,#part2.box .lower,#part3.box .lower{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: rgba(255,255,255,0.8);
	left: 1px;
}

.l_box{
	width:100%;
	margin:1% auto;
	display:inline-flex;
	justify-content: center;
    align-items: center;

}
.lower .lower_col{
	display:table-cell;
	width:600px;
	font-size:14px;
	vertical-align:middle;
	margin:0 25px;
	letter-spacing:0.1em;
	line-height:1.4em;
}
.lower .lower_img img{
	display:table-cell;
	vertical-align:middle;
}
/*pagetop*/
#pagetop{
    position: fixed;
    bottom: 60px;
    right: 60px;
	text-align:center;
	line-height:1.5em;
    font-size: 2em;
	margin:0;
	padding:0;
	width:50px;
	height:50px;
}
#pagetop a {
    background: #666;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    border-radius: 50%;
	opacity:0.6;
}
#pagetop a:hover {
    text-decoration: none;
    background: #999;
}
/*footer*/
#footer{
	background-color:#ffd782;
	margin:0 auto;
	overflow:hidden;
}
#footer .upper{
	height:180px;
	padding-top:30px;
}
#footer .upper img{
	display:inline-block;
	text-align:center;
}
#footer .upper p{
	display:inline-block;
	text-align:center;
	font-size:18px;
}
#footer .lower{
	height:45px;
	color:#fff;
	background-color:#595757;
	text-align:center;
	font-size:11px;
	line-height:50px;
}
